.terms-head{
    color: #3c4043;
    display: inline-block;
    font-family: Roboto,arial,sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 1.236em 0 .618em 0;
    text-transform: uppercase;
}

.terms-subhead{
    color: #3c4043;
    font-family: 'Google Sans',sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    padding: 64px 0 0 0;
}

.terms-parag{
    color: rgba(0,0,0,0.87);
    font-family: Roboto,arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .2px;
    line-height: 24px;
    padding-top: 20px;
    margin: 10px 0;
}